.form{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 8px;
}

.gallery {
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 24px auto;
}
.gallery-item {
    flex-basis: calc((100% - 96px) / 5);
        border: 1px solid #808080;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
}

.gallery-link {
    display: block;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 250ms ease-in-out;
}
.gallery-image:hover{
    transform: scale(1.05);
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 12px;
    border-top: 1px solid #808080;
}

.info-item {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: 1.2;
}

.load-more{
    display: flex;
    justify-content: center;
    align-self: center;

    border-radius: 8px;
        padding: 8px 16px;
        width: 125px;
        height: 40px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.is-hidden {
    display: none;
}